http://abogutskiy.com {
    redir https://abogutskiy.com{uri}
}

https://abogutskiy.com {
    root * /var/www
    try_files html{path}/home.html html{path}.html {path}
    file_server
    templates
    encode zstd gzip

    log {
        output file /var/log/caddy/abogutskiy.access.log {
            roll_size 512mb
            roll_keep 2
        }
    }
}

